# Multi-Channel Contacts

In [1]:
!unzip "/content/Dataset for Multi-Channel Contacts Problem (3).zip"

Archive:  /content/Dataset for Multi-Channel Contacts Problem (3).zip
  inflating: contacts.json

In [2]:
import json
from tqdm.notebook import tqdm

In [3]:
with open('contacts.json') as f:
    data = json.load(f)

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data)
df = df.replace('', np.NaN)

In [5]:
df

            Id                Email  ... Contacts                    OrderId
0            0       gkzAbIy@qq.com  ...        1                        NaN
1            1                  NaN  ...        4  vDDJJcxfLtSfkooPhbYnJdxov
2            2                  NaN  ...        0                        NaN
3            3   mdllpYmE@gmail.com  ...        0  bHquEnCbbsGLqllwryxPsNOxa
4            4                  NaN  ...        2                        NaN
...        ...                  ...  ...      ...                        ...
499995  499995                  NaN  ...        2  whJlUOGNqjxCRzmIRdURQvlNv
499996  499996                  NaN  ...        4  JqIXOONvrwvJxZqNxCYHqnrKS
499997  499997                  NaN  ...        2  beXCZSzcHaBwAYoDcpQqjuAFO
499998  499998  RzSDsyH@hotmail.com  ...        1  ehjeFACGiwrERQxbziMxwOWku
499999  499999                  NaN  ...        0  JibSBRgzYdfzkzbTuGUXrcvDX

[500000 rows x 5 columns]

In [6]:
email_group = df.groupby('Email').Id.agg(lambda x: set(x))
phone_group = df.groupby('Phone').Id.agg(lambda x: set(x))
order_group = df.groupby('OrderId').Id.agg(lambda x: set(x))

In [7]:
d = {i: set() for i in df.Id}

In [8]:
for ids in email_group:
    for id in ids:
        d[id] |= set(ids)
for ids in phone_group:
    for id in ids:
        d[id] |= set(ids)
for ids in order_group:
    for id in ids:
        d[id] |= set(ids)

In [9]:
for i in tqdm(range(3)):
    for id, ids in d.items():
        for id_ in list(ids):
            d[id] |= d[id_]

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

In [10]:
id_to_contact = df.set_index('Id').Contacts.to_dict()

def get_sum_contact(ids_set):
    return sum([id_to_contact[id] for id in ids_set])

In [11]:
df['set'] = df.Id.apply(lambda x: d[x])
df['trace'] = df.set.apply(lambda x: '-'.join(map(str, sorted(list(x)))))
df['n_con'] = df.set.apply(lambda x: str(get_sum_contact(x)))
df

            Id  ... n_con
0            0  ...     1
1            1  ...    12
2            2  ...     4
3            3  ...     0
4            4  ...     2
...        ...  ...   ...
499995  499995  ...     2
499996  499996  ...     4
499997  499997  ...     2
499998  499998  ...     5
499999  499999  ...     0

[500000 rows x 8 columns]

In [12]:
df['out'] = df.trace + ', ' + df.n_con

In [13]:
out = df[['Id', 'out']]
out.columns = ['ticket_id', 'ticket_trace/contact']
out.to_csv('out.csv', index=False)

In [14]:
out

        ticket_id                          ticket_trace/contact
0               0                                          0, 1
1               1  1-2458-98519-115061-140081-165605-476346, 12
2               2                     2-159312-322639-348955, 4
3               3                                          3, 0
4               4                                          4, 2
...           ...                                           ...
499995     499995                                     499995, 2
499996     499996                                     499996, 4
499997     499997                                     499997, 2
499998     499998                              121111-499998, 5
499999     499999                                     499999, 0

[500000 rows x 2 columns]

# Recheck

In [16]:
out.nunique()

ticket_id               500000
ticket_trace/contact    291919
dtype: int64

In [17]:
df

            Id  ...                                           out
0            0  ...                                          0, 1
1            1  ...  1-2458-98519-115061-140081-165605-476346, 12
2            2  ...                     2-159312-322639-348955, 4
3            3  ...                                          3, 0
4            4  ...                                          4, 2
...        ...  ...                                           ...
499995  499995  ...                                     499995, 2
499996  499996  ...                                     499996, 4
499997  499997  ...                                     499997, 2
499998  499998  ...                              121111-499998, 5
499999  499999  ...                                     499999, 0

[500000 rows x 9 columns]

In [18]:
df[df.trace == '1-2458-98519-115061-140081-165605-476346']

            Id  ...                                           out
1            1  ...  1-2458-98519-115061-140081-165605-476346, 12
2458      2458  ...  1-2458-98519-115061-140081-165605-476346, 12
98519    98519  ...  1-2458-98519-115061-140081-165605-476346, 12
115061  115061  ...  1-2458-98519-115061-140081-165605-476346, 12
140081  140081  ...  1-2458-98519-115061-140081-165605-476346, 12
165605  165605  ...  1-2458-98519-115061-140081-165605-476346, 12
476346  476346  ...  1-2458-98519-115061-140081-165605-476346, 12

[7 rows x 9 columns]

In [19]:
df[df.trace.str.len() == df.trace.str.len().max()]

            Id  ...                                                out
2532      2532  ...  2532-5675-19137-33191-63223-93186-94469-100008...
63223    63223  ...  2532-5675-19137-33191-63223-93186-94469-100008...
93186    93186  ...  2532-5675-19137-33191-63223-93186-94469-100008...
114378  114378  ...  2532-5675-19137-33191-63223-93186-94469-100008...
120876  120876  ...  2532-5675-19137-33191-63223-93186-94469-100008...
145724  145724  ...  2532-5675-19137-33191-63223-93186-94469-100008...
155038  155038  ...  2532-5675-19137-33191-63223-93186-94469-100008...
157021  157021  ...  2532-5675-19137-33191-63223-93186-94469-100008...
159958  159958  ...  2532-5675-19137-33191-63223-93186-94469-100008...
160596  160596  ...  2532-5675-19137-33191-63223-93186-94469-100008...
162032  162032  ...  2532-5675-19137-33191-63223-93186-94469-100008...
163324  163324  ...  2532-5675-19137-33191-63223-93186-94469-100008...
166381  166381  ...  2532-5675-19137-33191-63223-93186-94469-100008...
180779  180779  ...  2532-5675-19137-33191-63223-93186-94469-100008...
190585  190585  ...  2532-5675-19137-33191-63223-93186-94469-100008...
191675  191675  ...  2532-5675-19137-33191-63223-93186-94469-100008...
240809  240809  ...  2532-5675-19137-33191-63223-93186-94469-100008...
293133  293133  ...  2532-5675-19137-33191-63223-93186-94469-100008...
293687  293687  ...  2532-5675-19137-33191-63223-93186-94469-100008...
298169  298169  ...  2532-5675-19137-33191-63223-93186-94469-100008...
302093  302093  ...  2532-5675-19137-33191-63223-93186-94469-100008...
304811  304811  ...  2532-5675-19137-33191-63223-93186-94469-100008...
320383  320383  ...  2532-5675-19137-33191-63223-93186-94469-100008...
324632  324632  ...  2532-5675-19137-33191-63223-93186-94469-100008...
324941  324941  ...  2532-5675-19137-33191-63223-93186-94469-100008...
328389  328389  ...  2532-5675-19137-33191-63223-93186-94469-100008...
337277  337277  ...  2532-5675-19137-33191-63223-93186-94469-100008...
338237  338237  ...  2532-5675-19137-33191-63223-93186-94469-100008...
339144  339144  ...  2532-5675-19137-33191-63223-93186-94469-100008...
340756  340756  ...  2532-5675-19137-33191-63223-93186-94469-100008...
345821  345821  ...  2532-5675-19137-33191-63223-93186-94469-100008...
354077  354077  ...  2532-5675-19137-33191-63223-93186-94469-100008...
366739  366739  ...  2532-5675-19137-33191-63223-93186-94469-100008...
379406  379406  ...  2532-5675-19137-33191-63223-93186-94469-100008...
387990  387990  ...  2532-5675-19137-33191-63223-93186-94469-100008...
393030  393030  ...  2532-5675-19137-33191-63223-93186-94469-100008...
405538  405538  ...  2532-5675-19137-33191-63223-93186-94469-100008...
416842  416842  ...  2532-5675-19137-33191-63223-93186-94469-100008...
452283  452283  ...  2532-5675-19137-33191-63223-93186-94469-100008...
452615  452615  ...  2532-5675-19137-33191-63223-93186-94469-100008...
468746  468746  ...  2532-5675-19137-33191-63223-93186-94469-100008...
478742  478742  ...  2532-5675-19137-33191-63223-93186-94469-100008...
481161  481161  ...  2532-5675-19137-33191-63223-93186-94469-100008...
493216  493216  ...  2532-5675-19137-33191-63223-93186-94469-100008...

[44 rows x 9 columns]